replicaCount: 1

image:
  repository: todo-frontend
  tag: latest
  pullPolicy: Never

service:
  type: ClusterIP
  port: 3000

env:
  NEXT_PUBLIC_API_URL: "http://backend:8000"
  BETTER_AUTH_SECRET: ""

resources:
  limits:
    cpu: 300m
    memory: 384Mi
  requests:
    cpu: 100m
    memory: 192Mi
