replicaCount: 1

image:
  repository: todo-recurring-task
  tag: latest
  pullPolicy: Never

service:
  type: ClusterIP
  port: 8002

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
